<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input readonly="true" type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="text" maxlength="20" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" maxlength="20" formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="code">Code:</label>
      <input readonly="true" maxlength="40" required formControlName="code" placeholder="Code" name="code" class="form-control" id="code">
    </div>

    <div class="form-group">
      <label for="group">Name Group:</label>
      <select required formControlName="group" ngModel="" placeholder="Name Group" name="group" class="form-control" id="group">
        <option  value="" [selected]="true" >Select in Group</option>
          <option  *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
      </select>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
